.rename-pattern-input {
    --uno: list-none m-0 p-0;
    --uno: flex flex-col;
    li {
        --uno: flex flex-col;
        --uno: mb-2;
    }

    label {
        --uno: font-size-5 font-medium;
        --uno: mb-1;
        user-select: none;
    }
}

