@import './variables.scss';

.nav-button {
    --uno: font-size-5 color-black no-underline;
    --uno: flex items-center;
    --uno: gap-1;
}
.nav-button:hover {
    --uno: font-size-5 color-#555 no-underline;
}
.nav-button > * {
    --uno: block;
}

* {
    color: $theme-black-1;
}

h1, h2, h3, h4, h5, h6 {
    color: $theme-black-2;
}

input {
    border-color: $theme-black-2;
    --uno: border-1px border-rounded-1;
    --uno: p-1;
}