@import './variables.scss';

html {
    color: $theme-black-2;
}

h1, h2, h3, h4, h5, h6,
label
{
    color: $theme-black-1;
}

input {
    border-color: $theme-black-2;
    --uno: border-1px border-rounded-1;
    --uno: p-1;
}