@import './variables.scss';

html {
    color: $theme-black-2;
    --uno: font-sans;
}

h1, h2, h3, h4, h5, h6,
label
{
    color: $theme-black-1;
}

input {
    border-color: $theme-black-2;
    --uno: border-1px border-rounded-1;
    --uno: p-1;
}

button {
    --uno: border-1px border-rounded-1;
    
    color: $theme-black-2;
    background-color: $theme-white-2;
    border-color: $theme-black-2;

    border-style: solid;
    font-size: 1em;

    &:hover {
        color: $theme-black-1;
        background-color: $theme-white-1;
        border-color: $theme-black-3;
    }

    &:active {
        color: $theme-black-1;
        background-color: $theme-white-3;
        border-color: $theme-black-3;
    }
}

span.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.info {
    border-color: $theme-black-2;
    --uno: border-2px border-rounded-1 border-solid;
    --uno: p-1;
}

.info-error {
    border-color: $theme-error-1;
    background-color: $theme-error-bg-1;
    color: $theme-error-1;
    --uno: font-bold;
}

.span-error {
    border-color: $theme-error-1;
    background-color: $theme-error-bg-1;
    color: $theme-error-1;
    --uno: font-bold p-2;
}