$theme-black-1: #222;
$theme-black-2: #444;
$theme-black-3: #666;

$theme-white-1: #fff;
$theme-white-2: #ddd;
$theme-white-3: #bbb;

$theme-primary-1: #236;
$theme-primary-2: #458;
$theme-primary-3: #67a;

$theme-error-1: #e44;
$theme-error-2: #c22;
$theme-error-3: #a00;

$theme-error-bg-1: #fdd;
$theme-error-bg-2: #eaa;
$theme-error-bg-3: #d99;